@use "./variables" as *;

.scheduleTable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 600px;

  &_row {
  }

  &_row-time {
  }

  &_row-appointment {
    gap: 8px;
    width: 100%;
    min-height: 40px;
    padding: 12px;
    border-radius: 8px;
    background-color: $color-violet;
  }
}
.filled {
}
.emptytime {
  background-color: $color-pink;
}
