@use "./variables" as *;

.scheduleTable {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 600px;

  @media (max-width: 1100px) {
    min-width: 400px;
    margin: 0 20px;
  }
  @media (max-width: 417px) {
    min-width: 250px;
    gap: 10px;
    justify-content: center;
  }

  &_row {
  }

  &_row-time {
  }

  &_row-appointment {
    gap: 8px;
    width: 100%;
    min-height: 40px;
    padding: 12px;
    border-radius: 8px;
    background-color: $color-violet;

    @media (max-width: 417px) {
      min-height: 35px;
      padding: 10px;
    }
  }
}
.filled {
}
.emptytime {
  background-color: $color-pink;
}
