$color-white: #ffffff;
$color-violet: #b6b7e6;
$color-dark-violet: #4d4a9a;
$color-pink: #fbd9db;
$color-dark-pink: #d49ba5;
$color-dark: #1a1a1a;

.select-arrow {
  font-size: clamp(0.875rem, 0.8145rem + 0.2614vw, 1.125rem);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/public/images/arrowD.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
