@forward "./styles/timeTable";
@forward "./styles/variables";
@forward "./styles/table";
@forward "./styles/calendar";
@forward "./styles/select";
@forward "./styles/timePicker";
@forward "./styles/modal";
@forward "./styles/linkBack";
@forward "./styles/header";

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1578px;
  margin: 0 auto;
}

@media (max-width: 1441px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1195px) {
  .container {
    max-width: 954px;
  }
}

@media (max-width: 835px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 359px;
  }
}
